* {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  font: 12px/14px Arial, sans-serif;
  width: 100%;
  position: relative;
}
.ui-helper-reset {
  position: absolute;
  right: 30px;
  top: 30px;
}
#magic-ball {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 5%;
  top: 10%;
  background: url(../img/magic-ball.png) no-repeat;
}
#magic-ball__value {
  background: url(../img/magic-ball__value.png) no-repeat 0 0;
  width: 120px;
  height: 120px;
  left: 68px;
  top: 66px;
  position: absolute;
  color: #fff;
  text-align: center;
  vertical-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.magic-ball__value_01 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-top: 35px;
}
.magic-ball__value_01 #magic-ball__value-text {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(190deg);
  -o-transform: rotate(190deg);
  transform: rotate(190deg);
}
.magic-ball__value_02 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-top: 50px;
}
.magic-ball__value_02 #magic-ball__value-text {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.magic-ball__value_03 {
  padding-top: 45px;
}
.magic-ball__value_04 {
  padding-top: 55px;
  font-size: 16px;
}
.magic-ball__value_05 {
  padding-top: 55px;
}
.magic-ball__value_06 {
  padding-top: 42px;
  font-size: 14px;
  line-height: 18px;
}
.magic-ball__value_07 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-top: 45px;
  font-size: 14px;
  line-height: 18px;
}
.magic-ball__value_07 #magic-ball__value-text {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
