* {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  font: 12px/14px Arial, sans-serif;
  width: 100%;
  position: relative;
}
.ui-helper-reset {
  position: absolute;
  right: 30px;
  top: 30px;
}
#magic-ball {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 5%;
  top: 10%;
  background: url(../img/magic-ball.png) no-repeat;
}
#magic-ball__value {
  background: url(../img/magic-ball__value.png) no-repeat 0 0;
  width: 120px;
  height: 120px;
  left: 68px;
  top: 66px;
  position: absolute;
  color: #fff;
  text-align: center;
  vertical-align: center;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
